@import url(https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Josefin+Sans:wght@300;400;700&display=swap);
@font-face {
  font-family: "Benilla Calligraphy";
  src: url("../fonts/benilla_calligraphy.ttf");
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: 18px;
}

a {
  text-decoration: none;
  color: #15556a;
}

.upper-nav {
  padding: 15px 40px;
  text-align: right;
  background-color: #f2f1eb;
}
.upper-nav a.newsletter-signup {
  font-weight: bold;
  font-size: 0.8em;
}
.upper-nav a.logo-img img {
  width: 250px;
  height: 50px;
  margin: auto;
  display: block;
}

nav {
  background-color: #f2f1eb;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
nav .nav-item {
  max-width: 250px;
  text-align: center;
}
nav .nav-item .nav-link {
  color: #15556a;
  font-size: 0.8em;
  margin-left: 30px;
}

footer {
  background-color: #f2f1eb;
  padding: 35px;
}
footer .footer-section h5 {
  font-weight: bold;
}
footer .footer-section p {
  font-size: 0.9em;
}
footer .footer-section ul {
  list-style-type: none;
}
footer .footer-section ul li {
  margin-bottom: 10px;
}
footer .footer-section ul li a {
  font-size: 0.9em;
}
footer .footer-copywrites {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}

.hero-section {
  height: 600px;
}
.hero-section .dark-overlap {
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px 50px;
}
.hero-section .dark-overlap .hero-content h1 {
  color: #fff;
  font-size: 4.5em;
  font-weight: bold;
}

.dalia-button {
  padding: 10px 30px;
  color: #15556a;
  border-radius: 50px;
  position: relative;
  background: url("../icons/buttons-background.jpeg") no-repeat center center;
}

.text-brand {
  color: #15556a !important;
}

.content-section {
  padding: 100px 0;
}
.content-section .section-header {
  color: #15556a;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 40px;
}

.latest-news-section {
  background-color: #f2f1eb;
}
.latest-news-section .latest-news-card {
  position: relative;
}
.latest-news-section .latest-news-card img {
  height: 550px;
  width: 100%;
}
.latest-news-section .latest-news-card .card-content {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  text-align: center;
  padding: 60px;
}
.latest-news-section .latest-news-card .card-content h3 {
  font-size: 1.5em;
  color: #15556a;
}
.latest-news-section .latest-news-card .card-content p {
  font-size: 1.3em;
  font-family: "Benilla Calligraphy", "sans-serif";
  color: #fff;
}
.latest-news-section .latest-news-card .card-sub-title {
  text-align: center;
  color: #15556a;
  margin-top: 20px;
}

#homepage-hero-section {
  background: url("../images/home-hero.jpg") no-repeat center center;
  background-size: cover;
}
