@import url(https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Josefin+Sans:wght@300;400;700&display=swap);
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: 18px;
}

a {
  text-decoration: none;
  color: #15556a;
}

.upper-nav {
  padding: 15px 40px;
  text-align: right;
  background-color: #f2f1eb;
}
.upper-nav a.newsletter-signup {
  font-weight: bold;
  font-size: 0.8em;
}
.upper-nav a.logo-img img {
  width: 250px;
  height: 50px;
  margin: auto;
  display: block;
}

nav {
  background-color: #f2f1eb;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
nav .nav-item {
  max-width: 250px;
  text-align: center;
}
nav .nav-item .nav-link {
  color: #15556a;
  font-size: 0.8em;
  margin-left: 30px;
}

footer {
  background-color: #f2f1eb;
  padding: 35px;
}
footer .footer-section h5 {
  font-weight: bold;
}
footer .footer-section p {
  font-size: 0.9em;
}
footer .footer-section ul {
  list-style-type: none;
}
footer .footer-section ul li {
  margin-bottom: 10px;
}
footer .footer-section ul li a {
  font-size: 0.9em;
}
footer .footer-copywrites {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}

.hero-section {
  height: 600px;
}

#homepage-hero-section {
  background: url("../images/home-hero.jpg") no-repeat center center;
  background-size: cover;
}
