footer{
    background-color: $lightgray;
    padding: 35px;
    .footer-section{
        h5{
            font-weight: bold;
            color: #14556a;
        }
        p{font-size:0.9em;
        &.footer-about-dalia{
            color: $brand;
        }
    }
        ul{
            list-style-type: none;
            li{
                margin-bottom: 10px;
                a{
                    font-size: 0.9em;
                }
            }
        }
        .footer-social-media{
            padding: 0;
            display: flex;
            li{
                text-align: center;
                &.footer-instagram{
                    a{
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        color: #fff;
                        background: #f09433; 
                        padding: 15px;
                        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                        i{
                            flex:1;
                        }
                        span{
                            flex: 5;
                        }
                    }

                }
            }
        }
    }
    .footer-copywrites{
        margin-top: 30px;
        font-size:0.9em;
        text-align: center;
    }
}