footer{
    background-color: $lightgray;
    padding: 35px;
    .footer-section{
        h5{font-weight: bold;}
        p{font-size:0.9em;}
        ul{
            list-style-type: none;
            li{
                margin-bottom: 10px;
                a{
                    font-size: 0.9em;
                }
            }
        }
    }
    .footer-copywrites{
        margin-top: 30px;
        font-size:0.9em;
        text-align: center;
    }
}